[submodule "plthook"]
	path = .VenusRootLoader/External/plthook
	url = https://github.com/kubo/plthook.git
[submodule "External/BugFables.GameLibs"]
	path = .VenusRootLoader/External/BugFables.GameLibs
	url = https://github.com/aldelaro5/BugFables.GameLibs.git
